/* simple theme! */

body{
	background-image: url("starwars.jpg");
	font-family:tahoma;
	text-align: center;
}

h1{
	color: white;
	font-size: 60px;
	margin-bottom: -5px;
}

h3{
	color:gray;
	font-size: 20px;
}

h2{
	color:lightgray;
}
/*
p{
	color:gray;
	font-family: Times;
	border: 3px solid;
	border-color: lightsteelblue;
	padding: 20px;
	width: 50%;
	margin:auto;
}
*/

ul{
	background-color: lightgray;

}
li{
	color:gray;
	display: inline-block;
}

a:link{
	color: black;
}
a:hover{
	font-size:20px;
	font-family: arial black;
}

a:visited{
	color: gray;
}

.extreme{
	color: lightsteelblue;
	font-size:20px;
	background-color: gray;
}

.navzone{
	background-color: lightgray;
	width: 25%;
	margin: auto;
	border: 3px solid;
	margin-top: 25px;
	border-color: darkgray;
}

.content{
	text-align: center;
	
}
.prose{
	font-style: italic;
	width:70%;
	margin:auto;
	border: 3px dashed;
	background-color: lightgray;
}

.prose:hover{
	color: white;
	font-size: 20px;
	background-color: darkgray;
	margin:auto;
}
#head1{
	font-size: 60px;
}

#tehlulz{
	margin-left:-30px;
}